/* ------------------------ */
/* ------ Animations ------ */
/* ------------------------ */

/* Animation: Fade IN/OUT */
.fade-in {
   animation: fade-in 0.3s;
   -webkit-animation: fade-in 0.3s;

   animation-delay: 0s;
   -webkit-animation-delay: 0s; /* Safari and Chrome */

   animation-fill-mode: forwards;
   -webkit-animation-fill-mode: forwards;
}

.fade-out {
   animation: fade-out 0.3s;
   -webkit-animation: fade-out 0.3s;

   animation-delay: 0s;
   -webkit-animation-delay: 0s; /* Safari and Chrome */

   animation-fill-mode: forwards;
   -webkit-animation-fill-mode: forwards;
}

/* @-webkit-keyframes fade-out { */
@keyframes fade-in {
   0% {
      opacity: 0;
      -webkit-transform: translateY(-30px);
   }
   100% {
      opacity: 1;
      -webkit-transform: translateY(0px);
   }
}

@keyframes fade-out {
   0% {
      opacity: 1;
      -webkit-transform: translateY(0px);
   }
   100% {
      opacity: 0;
      -webkit-transform: translateY(-30px);
   }
}

/* Animation: Slide IN/OUT */
.slide-in {
   animation: slide-in 0.3s;
   -webkit-animation: slide-in 0.3s;

   animation-delay: 0s;
   -webkit-animation-delay: 0s; /* Safari and Chrome */

   animation-fill-mode: forwards;
   -webkit-animation-fill-mode: forwards;
}

.slide-out {
   animation: slide-out 0.3s;
   -webkit-animation: slide-out 0.3s;

   animation-delay: 0s;
   -webkit-animation-delay: 0s; /* Safari and Chrome */

   animation-fill-mode: forwards;
   -webkit-animation-fill-mode: forwards;
}

/* @-webkit-keyframes fade-out { */
@keyframes slide-in {
   0% {
      opacity: 0;
      -webkit-transform: translateX(60px);
   }
   100% {
      opacity: 1;
      -webkit-transform: translateY(0px);
   }
}

@keyframes slide-out {
   0% {
      opacity: 1;
      -webkit-transform: translateX(0px);
   }
   100% {
      opacity: 0;
      -webkit-transform: translateX(60px);
   }
}
