@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	font-family: "Poppins", sans-serif;
}

/* ------------------*/
/* Check Box Styling */
/* ----------------- */
input[type="checkbox"] {
	appearance: none;
	background-color: #fff;
	margin: 0;
	font: inherit;
	color: currentColor;
	width: 22px;
	height: 22px;
	border: 1px solid #a5a3a9;
	border-radius: 6px;

	display: grid;
	place-content: center;
	cursor: pointer;
}

input[type="checkbox"]::before {
	content: "";
	width: 22px;
	height: 22px;
	background-image: url("/images/input-icons/checkmark.svg");
	border-radius: 6px;
	transform: scale(0);
	transform-origin: center center;
}

input[type="checkbox"]:checked::before {
	transform: scale(1) !important;
}

input[type="checkbox"]:disabled {
	background-color: var(--theme-secondary-dark);
	cursor: not-allowed;
}

input[type="checkbox"]:checked:disabled::before {
	background-image: url("/images/input-icons/checkmark-disabled.svg");
	background-color: var(--theme-secondary-dark);
	cursor: not-allowed;
}

/* ------------------*/
/* Radio Button Styling */
/* ----------------- */
input[type="radio"] {
	appearance: none;
	background-color: #fff;
	margin: 0;
	font: inherit;
	color: currentColor;
	width: 22px;
	height: 22px;
	border: 1px solid #a5a3a9;
	border-radius: 50%;
	display: grid;
	place-content: center;
	cursor: pointer;
}

input[type="radio"]::before {
	content: "";
	width: 16px;
	height: 16px;
	background-color: var(--theme-primary-default);
	border-radius: 50%;
	transform: scale(0);
	transform-origin: center center;
}

input[type="radio"]:checked {
	border-color: var(--theme-primary-default);
}

input[type="radio"]:checked::before {
	transform: scale(1) !important;
}

/* ------------------*/
/* Switch Styling */
/* ----------------- */
.switch {
	position: relative;
	display: inline-block;
	width: 48px;
	height: 18px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.switch .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--theme-secondary-dark);
	border-radius: 4px;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.switch .slider:before {
	position: absolute;
	content: "";
	height: 18px;
	width: 18px;
	left: 0px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	background-color: white;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.switch input:checked+.slider {
	background-color: var(--theme-primary-default);
}

.switch input:focus+.slider {
	box-shadow: 0px 0px 2px var(--theme-primary-light);
}

.switch input:checked+.slider:before {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	-webkit-transform: translateX(30px);
	-ms-transform: translateX(30px);
	transform: translateX(30px);
}

.help-text:empty:before {
	content: " ";
	white-space: pre;
}

.react-calendar__navigation {
	border-bottom: 1px solid #b7b7b7;
	padding-bottom: 18px;
	color: #6b6b6b;
	margin-bottom: 15px;
}

.react-calendar__navigation .react-calendar__navigation__prev-button {
	position: absolute;
	margin-left: 180px;
}

.react-calendar__navigation .react-calendar__navigation__next-button {
	float: right;
}

.react-calendar__navigation .react-calendar__navigation__prev-button,
.react-calendar__navigation .react-calendar__navigation__next-button {
	font-size: 25px;
	padding-bottom: 20px;
}

.react-calendar__navigation .react-calendar__navigation__prev2-button,
.react-calendar__navigation .react-calendar__navigation__next2-button {
	display: none;
}

.react-calendar__navigation .react-calendar__navigation__label {
	font-size: 14px;
	margin-top: 8px;
}

.react-calendar {
	border: none;
	border-radius: 16px;
	padding: 10px;
	box-shadow: 8px 3px 22px 10px rgba(150, 150, 150, 0.11);
}

.react-calendar__month-view__weekdays__weekday * {
	text-decoration: none;
}

.react-calendar__month-view__weekdays__weekday {
	padding: -0.5em;
	color: #6b6b6b;
	font-size: 10px;
	text-align: center;
}

.react-calendar__month-view__days__day {
	font-size: 12px !important;
}

.react-calendar__tile {
	line-height: 25px !important;
	padding: 5px 5px !important;
}

.react-calendar__tile--active,
.react-calendar__tile--hasActive {
	background: #1f95af;
	color: white;
	border-radius: 100% !important;
	-webkit-border-radius: 100% !important;
	-moz-border-radius: 100% !important;
	-ms-border-radius: 100% !important;
	-o-border-radius: 100% !important;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
	background: #1f95af;
	border-radius: 100% !important;
	-webkit-border-radius: 100% !important;
	-moz-border-radius: 100% !important;
	-ms-border-radius: 100% !important;
	-o-border-radius: 100% !important;
}

.react-calendar__tile:hover {
	background: #E6E6E6;
	border-radius: 100% !important;
	-webkit-border-radius: 100% !important;
	-moz-border-radius: 100% !important;
	-ms-border-radius: 100% !important;
	-o-border-radius: 100% !important;
}

.react-calendar__tile:disabled {
	color: #E6E6E6;
}

.react-calendar__tile:disabled:hover {
	background: none;
}

.react-calendar__tile--now {
	border-radius: 100% !important;
	-webkit-border-radius: 100% !important;
	-moz-border-radius: 100% !important;
	-ms-border-radius: 100% !important;
	-o-border-radius: 100% !important;
}

.react-calendar__year-view__months__month,
.react-calendar__century-view__decades__decade,
.react-calendar__decade-view__years__year,
.react-calendar__year-view__months__month:hover,
.react-calendar__century-view__decades__decade:hover,
.react-calendar__decade-view__years__year:hover,
.react-calendar__year-view__months__month:focus,
.react-calendar__century-view__decades__decade:focus,
.react-calendar__decade-view__years__year:focus {
	font-size: 12px;
	border-radius: 5px !important;
	-webkit-border-radius: 5px !important;
	-moz-border-radius: 5px !important;
	-ms-border-radius: 5px !important;
	-o-border-radius: 5px !important;
}

.react-calendar__month-view__days__day--neighboringMonth {
	color: transparent;
	pointer-events: none;
}

/*# sourceMappingURL=calendarStyle.css.map */