@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	font-family: "Poppins", sans-serif;
}

/* ------------------*/
/* Check Box Styling */
/* ----------------- */
input[type="checkbox"] {
	appearance: none;
	background-color: #fff;
	margin: 0;
	font: inherit;
	color: currentColor;
	width: 22px;
	height: 22px;
	border: 1px solid #a5a3a9;
	border-radius: 6px;

	display: grid;
	place-content: center;
	cursor: pointer;
}

input[type="checkbox"]::before {
	content: "";
	width: 22px;
	height: 22px;
	background-image: url("/images/input-icons/checkmark.svg");
	background-color: red;
	border-radius: 6px;
	transform: scale(0);
	transform-origin: center center;
}

input[type="checkbox"]:checked::before {
	transform: scale(1) !important;
}
