.blog-bg{
    background-image: url("/images/site/blog-hero-image.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* height: 100vh; */
    width: 100%;
    position: relative;
    overflow: hidden;
}
/* Features Page */


.feat-card {
    position: relative;
}

.feat-card:before,
.feat-card:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 13px;
    border: 2px solid rgba(200, 200, 200, 0.7);
    border-color: inherit;
    filter: blur(0);
    transform-origin: 50%;
    z-index: -1;
}

.feat-card:hover::before,
.feat-card:hover::after {
    border-color: transparent;
    filter: blur(2px);
    transform: scale(1.2);
    transition: 1000ms transform ease, 2100ms blur ease, 900ms border-color ease;
}
.feat-card:hover::after {
    transition-delay: 100ms;
}

/* Others */
.swiperPaginationBullet {
    background-color: white;
    width: 4px;
    height: 4px;
}
/* .site-map{
    background-image: url("/images/site/map.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: 10;
} */
.jumbo-bg {
    background: linear-gradient(90deg, #0a56b0 0%, rgba(52, 91, 135, 0) 100%);
    @media (max-width: 767px) {
        background: #0a56b0; 
    }
}
.footer-bg {
    background: linear-gradient(180deg, #0d3958 0%, #072337 100%);
}
/* .jumbo-image-1 {
    background-image: url('/images/site/scrolling-image-12.png');
    background-repeat: repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 100vh;
} */
.map-bg {
    background: linear-gradient(180deg, #d6e7ef 0%, #8fbed2 100%);
}

.cloud-1 {
    background-image: url('/images/site/cloud-1.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 150px;
    width: 150px;
    opacity: 0;
    animation: animatedBackground 20s linear 3s infinite;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-delay: 3s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: animatedBackground;
    animation-timeline: auto;
}

.cloud-2 {
    background-image: url('/images/site/cloud-2.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 150px;
    width: 150px;
    opacity: 0;
    animation: animatedBackground 25s linear 5s infinite;
    animation-duration: 25s;
    animation-timing-function: linear;
    animation-delay: 5s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: animatedBackground;
    animation-timeline: auto;
}

.cloud-3 {
    background-image: url('/images/site/cloud-3.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 150px;
    width: 150px;
    opacity: 0;
    animation: animatedBackground 15s linear 5s infinite;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-delay: 5s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: animatedBackground;
    animation-timeline: auto;
}
/* 
.cloud-4 {
    background-image: url('/images/site/cloud-4.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 100px;
    width: 100px;
    animation: animatedBackground 55s linear infinite;
}
.cloud-5 {
    background-image: url('/images/site/cloud-5.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 100px;
    width: 100px;
    animation: animatedBackground 70s linear infinite;
}
.cloud-6 {
    background-image: url('/images/site/cloud-3.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 100px;
    width: 100px;
    animation: animatedBackground 80s linear infinite;
} */

@keyframes animatedBackground {
    /* 0% {
        background-position: 0 0;
    }
    100% {
        background-position: calc(100% + 100px) 0;
    } */
    0% {
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        transform: translateX(0px);
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }

    75%,
    100% {
        -webkit-transform: translateX(100px);
        -moz-transform: translateX(100px);
        transform: translateX(100px);
        opacity: 0;
    }
}

/* .coverage .map-container .map-image {
    position: absolute;
}
.cloud-anim-1 {
    opacity: 0;
    animation: cloud 20s linear 3s infinite;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-delay: 3s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: cloud;
    animation-timeline: auto;
}

.cloud-anim-2 {
    opacity: 0;
    animation: cloud 25s linear 5s infinite;
    animation-duration: 25s;
    animation-timing-function: linear;
    animation-delay: 5s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: cloud;
    animation-timeline: auto;
}
.cloud-anim-3 {
    opacity: 0;
    animation: cloud 15s linear 5s infinite;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-delay: 5s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: cloud;
    animation-timeline: auto;
}
.cloud-anim-4 {
    opacity: 0;
    animation: cloud 30s linear 5s infinite;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-delay: 5s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: cloud;
    animation-timeline: auto;
    animation-range-start: normal;
    animation-range-end: normal;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
img {
    vertical-align: middle;
    border-style: none;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
@keyframes cloud {
    0% {
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        transform: translateX(0px);
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }

    75%,
    100% {
        -webkit-transform: translateX(100px);
        -moz-transform: translateX(100px);
        transform: translateX(100px);
        opacity: 0;
    }
} */

/* Student Placement Management system */
.big-ellipse-clr {
    border: 1px solid rgba(80, 161, 235, 0.25);
}

@keyframes orbit {
    from {
        transform: rotate(0deg) translateX(230px) translateY(100px) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateX(230px) translateY(100px)
            rotate(-360deg);
    }
}

@keyframes orbit2 {
    from {
        transform: rotate(0deg) translateY(260px) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateY(260px) rotate(-360deg);
    }
}
@keyframes orbit3 {
    from {
        transform: rotate(0deg) translateX(-250px) translateY(90px) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateX(-250px) translateY(90px)
            rotate(-360deg);
    }
}
@keyframes orbit4 {
    from {
        transform: rotate(0deg) translateY(-260px) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateY(-260px) rotate(-360deg);
    }
}
@keyframes orbit5 {
    from {
        transform: rotate(0deg) translateX(220px) translateY(-130px)
            rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateX(220px) translateY(-130px)
            rotate(-360deg);
    }
}

@keyframes orbit6 {
    from {
        transform: rotate(0deg) translateX(-220px) translateY(-130px)
            rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateX(-220px) translateY(-130px)
            rotate(-360deg);
    }
}
.ellipse {
    position: absolute;
    animation: orbit 30s linear infinite;
    /* transform: rotate(0deg) translateX(230px) translateY(100px) rotate(0deg); */
    top: 50% !important;
    left: -50px !important;
}

.ellipse2 {
    position: absolute;
    animation: orbit2 30s linear infinite;
    /* transform: rotate(0deg) translateY(220px) rotate(0deg); */
    top: 50% !important;
    left: -50px !important;
}
.ellipse3 {
    position: absolute;
    animation: orbit3 30s linear infinite;
    /* transform: rotate(0deg) translateX(-230px) translateY(80px) rotate(0deg); */
    top: 50% !important;
    left: -50px !important;
}
.ellipse4 {
    position: absolute;
    animation: orbit4 30s linear infinite;
    /* transform: rotate(0deg) translateY(-260px) rotate(0deg); */
    top: 50% !important;
    left: -50px !important;
}
.ellipse5 {
    position: absolute;
    animation: orbit5 30s linear infinite;
    /* transform: rotate(0deg) translateX(220px) translateY(-130px) rotate(0deg); */
    top: 50% !important;
    left: -50px !important;
}
.ellipse6 {
    position: absolute;
    animation: orbit6 30s linear infinite;
    /* transform: rotate(0deg) translateX(-220px) translateY(-130px) rotate(0deg); */
    top: 50% !important;
    left: -50px !important;
}
/* Mobile View Ellipses */
.mob-ellipse {
    position: absolute;
    animation: mobOrbit 30s linear infinite;
    /* transform: rotate(0deg) translateX(100px) translateY(40px) rotate(0deg); */
    top: 50% !important;
    left: -80% !important;
}
.mob-ellipse2 {
    position: absolute;
    animation: mobOrbit2 30s linear infinite;
    /* transform: rotate(0deg) translateX(90px) translateY(-50px) rotate(0deg); */
    top: 50% !important;
    left: -80% !important;
}
.mob-ellipse3 {
    position: absolute;
    animation: mobOrbit3 30s linear infinite;
    /* transform: rotate(0deg) translateX(10px) translateY(-110px) rotate(0deg); */
    top: 50% !important;
    left: -80% !important;
}
.mob-ellipse4 {
    position: absolute;
    animation: mobOrbit4 30s linear infinite;
    /* transform: rotate(0deg) translateX(-90px) translateY(-60px) rotate(0deg); */
     top: 50% !important;
    left: -80% !important;
}
.mob-ellipse5 {
    position: absolute;
    animation: mobOrbit5 30s linear infinite;
    /* transform: rotate(0deg) translateX(-90px) translateY(30px) rotate(0deg); */
     top: 50% !important;
    left: -80% !important;
}
.mob-ellipse6 {
    position: absolute;
    animation: mobOrbit6 30s linear infinite;
    /* transform: rotate(0deg) translateX(5px) translateY(100px) rotate(0deg); */
     top: 50% !important;
    left: -80% !important;
}

/* Key Frames */
@keyframes mobOrbit {
    from {
        transform: rotate(0deg) translateX(100px) translateY(40px) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateX(100px) translateY(40px)
            rotate(-360deg);
    }
}

@keyframes mobOrbit2 {
    from {
        transform: rotate(0deg) translateX(90px) translateY(-50px) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateX(90px) translateY(-50px) rotate(-360deg);
    }
}
@keyframes mobOrbit3 {
    from {
        transform: rotate(0deg) translateX(10px) translateY(-110px) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateX(10px) translateY(-110px)
            rotate(-360deg);
    }
}
@keyframes mobOrbit4 {
    from {
        transform: rotate(0deg) translateX(-90px) translateY(-60px) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateX(-90px) translateY(-60px) rotate(-360deg);
    }
}
@keyframes mobOrbit5 {
    from {
        transform: rotate(0deg) translateX(-100px) translateY(30px)
            rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateX(-100px) translateY(30px)
            rotate(-360deg);
    }
}

@keyframes mobOrbit6 {
    from {
        transform: rotate(0deg) translateX(5px) translateY(100px)
            rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateX(5px) translateY(100px)
            rotate(-360deg);
    }
}
/* Mobile view ellipse end */
/* Water Waves */
.waves {
    position: relative;
    width: 100%;
    height: 15vh;
    /* margin-bottom: -7px; */
    min-height: 100px;
    max-height: 150px;
}

.parallax > use {
    animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}
.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}
.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}
.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}
@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }
    100% {
        transform: translate3d(85px, 0, 0);
    }
}
@media (max-width: 768px) {
    .waves {
      height:40px;
      min-height:40px;
    }
  }

  /* Package card flip */
/* CSS in your component's stylesheet or global stylesheet */
/* CSS in your component's stylesheet or global stylesheet */

.card__side--back {
    background-color: #fff;
    transform: rotateY(180deg);
  }
  .card:hover .card__side--back {
    transform: rotateY(0);
  }
  .card:hover .card__side--front {
    transform: rotateY(-180deg);
  }
  .card__side {
    /* height: 52rem; */
    transition: all 0.8s ease;
    /* position: absolute; */
    /* top: 0;
    left: 0; */
    width: 100%;
    -webkit-backface-visibility: hidden;
    
    backface-visibility: hidden;
   
    border-radius: 10px;
    overflow: hidden;
   
    box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.15);
  }
  
  /* Blogs */
  .ql-align-center{
    display: flex;
    justify-content: center;
  }

.blog-content p{
    word-break: keep-all;
}

/* Blog pagination */
/* Paginate.module.css */

.pageNumber {
    @apply inline-block px-3 py-1 m-0 cursor-pointer rounded-md bg-gray-300 text-gray-700 mr-4;
}

.activePage {
    @apply bg-orange-400 text-white  px-3 py-1 rounded-md;
}


.management-portal-log{
    background-image: url('/images/management-portal/management-portal-login-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}

/* Our story */
.skiltrak-is-working-with-bg{
    background-image: url('/images/our-story/bg-boxes.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 637px;
    width: 100%;
}

.border-gradient{
    background: radial-gradient(circle at 100% 100%, #ffffff 0, #ffffff 3px, transparent 3px) 0% 0%/8px 8px no-repeat,
            radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 3px, transparent 3px) 100% 0%/8px 8px no-repeat,
            radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 3px, transparent 3px) 0% 100%/8px 8px no-repeat,
            radial-gradient(circle at 0 0, #ffffff 0, #ffffff 3px, transparent 3px) 100% 100%/8px 8px no-repeat,
            linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 4px) calc(100% - 7px) no-repeat,
            linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 7px) calc(100% - 4px) no-repeat,
            linear-gradient(90deg, #f6910f 0%, #24536B 100%);
    border-radius: 8px;
    padding: 2px;
    box-sizing: border-box;
}

.gradient-bg{
    background-image: url('/images/our-story/gradient-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 800px;
    width: 100%;
}

.philippines-bg {
    background-image: url('/images/our-story/countries/philippines.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 207px;
    width: 100%;
  }
.france-bg {
    background-image: url('/images/our-story/countries/france.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 207px;
    width: 100%;
    }

.mauritius-bg {
    background-image: url('/images/our-story/countries/mauritius.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 207px;
    width: 100%;
    }
/* seychelles */
.seychelles-bg {
    background-image: url('/images/our-story/countries/seychelles.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 207px;
    width: 100%;
    }
.country-name{
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #FFF;
    color: transparent;
    font-family: 'Poppins', sans-serif;
    font-size: 58px;
    font-style: normal;
    font-weight: 600;
    line-height: 63.675px; /* Matching line height in px */
    letter-spacing: 0; /* Adjust if Figma has letter-spacing */
    word-spacing: 0; /* Adjust if Figma has word-spacing */
    text-transform: none;
     /* Adjust if Figma has text-transform */
}